Makefile
bin/.deps/
bin/Makefile
config.h
config.log
config.status
libtool
libvbisam/.deps/
libvbisam/.libs/
libvbisam/Makefile
libvbisam/*.lo
libvbisam/*.loT
libvbisam/*.o
stamp-h1
tests/.deps/
tests/Makefile
tests/atconfig
tests/atlocal

